body {
    background: white;
}

.text-blue {
    color: #1d68a7;
}

.text-red {
    color: #b21f2d;
}


footer.sticky-footer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 1.5rem;
    color: white;
}

#content {
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}